doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Sora:wght@300;400;500;700&display=swap",
      rel="stylesheet"
    )
    style.
      * {
        box-sizing: border-box;
      }
      body {
        font-family: "Roboto", sans-serif;
        color: #444547;
        margin: 0px;
      }
      .sora {
        font-family: "Sora", sans-serif !important;
      }
      .text-black {
        color: #000000 !important;
      }
      .container {
        max-width: 600px;
        margin: auto;
        background: #fcfcfc;
      }
      .btn-stepper-download {
        text-align: center;
        border: none;
        background: #f42b5f;
      }
      .btn-stepper-next {
        color: white;
        font-weight: bold;
        padding: 8px 25px;
        border-radius: 30px;
        box-shadow: 0px 5px 30px rgb(0 169 54 / 10%);
        min-width: 115px !important;
        margin-bottom: 2rem;
        text-decoration: none;
      }
      .title__container {
        text-align: center;
        margin: 2rem 0 2rem 0;
        madding-bottom: 2rem;
        border-bottom: 1px solid #ececee;
      }
      .title__container img {
        max-width: 150px;
      }
      .colored-stripe {
        height: 2px;
        background: #ff366a;
      }
      .footer__container {
        background: #1A1A1A;
        padding: 36px;
        color: #eaeaea;
        font-size: 12px;
      }
      .logo__container {
        display: flex;
        justify-content: center;
        padding: 15px 0;
      }
      .footer__container a {
        color: #444547;
      }
      .footer__logo {
        margin-bottom: 1.5rem;
        width: 170px;
        margin-left: -10px;
      }
      .social__icons {
        margin-top: 2rem;
      }
      .social__icons a {
        text-decoration: none;
      }
      .social__icons img {
        margin-right: 1rem;
        width: 25px;
      }
      .social__container {
        display: flex;
        justify-content: space-between;
      }
      .copyright {
        display: grid;
        align-items: end;
      }
      @media screen and (max-width:600px){
        .container { max-width: none !important; }
      }

  body
    .container
      .logo__container.justify-content-center(style="align-items: center; background-color: #f42b5f")
        img(src="https://qa.prontopaga.com/assets/img/email-img/LogoBco.svg", alt="ProntoPagaBlanco")

      div(style="padding: 0 2rem")
        .title__container
          img(src="https://qa.prontopaga.com/assets/img/icons/mail-tarea-completada.png", alt="")
          h1.sora.text-black ¡Hola, #{nombre}!

        div(style="text-align: center; color: #444547; margin-bottom: 2rem;")
          p Hemos generado tu reporte exitosamente.
          p(style="margin: 2.5rem 0;") Descargue el archivo haciendo click en el siguiente botón:
          center
            a.btn.btn-stepper-next.btn-stepper-download(href="https://qa.prontopaga.com/v2/admin/report/download/cae6c646-d099-4dea-b27b-d859e8b7d473") Descargar

        div(style="margin-bottom: 2rem")
          .colored-stripe
          p Saluda atentamente,
          h2.sora El Equipo de ProntoPaga

      .footer__container
        img.footer__logo(src="https://qa.prontopaga.com/assets/img/email-img/LogoEmail.svg", alt="ProntoPagaFooter")
        div(style="display: flex; flex-direction: column; gap: 6px")
          span Santa María 2786, Providencia, Santiago Metropolitan Region CL. Chile
          span Avenida Paulista, 1636 - Sala 1504, Bela Vista - São Paulo/SP. Brasil
          span Av. De Los Patriotas N°433, San Miguel, Lima. Peru

        p Te hemos enviado este correo electrónico porque has indicado que estás dispuesto a recibir correos electrónicos periódicos sobre noticias, actualizaciones de productos e invitaciones a eventos del equipo de ProntoPaga.

        .social__container
          .social__icons.d-flex
            a(href="https://www.instagram.com/prontopaga_official/?igsh=MThqdG81azVyZGdlMA%3D%3D", target="_blank")
              img(src="https://qa.prontopaga.com/assets/img/icons/social-icons/instagram-blanco.svg", alt="instagram")
            a(href="https://www.linkedin.com/company/prontopaga/", target="_blank")
              img(src="https://qa.prontopaga.com/assets/img/icons/social-icons/linkedin-blanco.svg", alt="linkedin")
          .copyright
            span © 2025 ProntoPaga
